name: Build Flutter APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # Ye step bahut zaruri hai agar aapne android folder upload nahi kiya hai
      - name: Initialize Flutter Project
        run: flutter create . --platforms=android --project-name=mera_flutter_app

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: flutter-app-apk
          path: build/app/outputs/flutter-apk/app-release.apk
